@model XFPanelJexus.Web.Models.JexusOptions
@{
    ViewData["Title"] = "首页";
}
@{ 
    
}
<form method="post" asp-action="JexusSH">
    <div class="col-12">
        <div class="input-group mb-2">
            <span class="mr-2">设置配置文件文件名</span>
            <input asp-for="@Model.filename" type="text" class="form-control" placeholder="字母组合" />
        </div>
        <ul>
            <li>
                <small>Jexus中每个网站拥有一个配置文件(无文件后缀)</small>
            </li>
            <li>
                <small>
                    请勿使用相同的文件名称，否则将会覆盖原有配置文件
                </small>
            </li>
        </ul>
        <hr />
        <div class="input-group mb-2">
            <span class="mr-2">你的邮箱或者其它备注</span>
            <input asp-for="@Model.email" type="text" class="form-control" placeholder="你的邮箱" />
        </div>
        <ul>
            <li>
                <small>本站将保留你的配置文件(10天)</small>
            </li>
            <li>
                <small>
                    填写你的邮箱，在你需要的时候可以检索你曾经创建过的配置文件
                </small>
            </li>
        </ul>
        <hr />
        <div class="card">
            <div class="card-header"><i class="icon-cog icon-large mr-2 "></i><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">基础配置<i class="ml-1 icon-sort-down icon-large"></i></button></div>
            <div id="demo1" class="collapse">
                <div class="card-body">
                    <div class="input-group mb-2">
                        <span class="mr-2">网站域名</span>
                        <input asp-for="@Model.JexusOne.hosts" type="text" class="form-control" placeholder="多个域名规则使用英文逗号,分隔" />
                    </div>
                    <ul>
                        <li>
                            <small>单个域名 www.name.com</small>
                        </li>
                        <li>
                            <small>该域名的所有子域名 *.name.com</small>
                        </li>
                        <li>
                            <small>多个子域名 a.name.com,b.name.com</small>
                        </li>
                        <li>
                            <small>混合 *.na.com,b.nb.com</small>
                        </li>
                    </ul>
                    <hr />
                    <div class="input-group mb-2">
                        <span class="mr-2">网站端口</span>
                        <input asp-for="@Model.JexusOne.ports" type="text" class="form-control" placeholder="默认为80，多个端口请使用,分隔" />
                    </div>
                    <ul>
                        <li><small>指外部通过特定端口访问你的网站</small></li>
                        <li><small>通过 域名:端口 或 ip:端口 均可访问</small></li>
                    </ul>

                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">网站根目录</span>
                        <input asp-for="@Model.JexusOne.root" type="text" class="form-control" placeholder="必须以/开头，格式/var/www/default" />
                    </div>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">后台运行dll</span>
                        <input asp-for="@Model.JexusWeb.CmdLine" type="text" class="form-control" placeholder="必须以/开头，格式/var/www/XfFile/Xffiles.Web.dll" />
                    </div>
                    <ul>
                        <li>
                            <small>此设置能够让你的ASP.NET Core程序后台托管</small>
                        </li>
                        <li>
                            <small>必须填写应用程序启动入口的dll绝对地址</small>
                        </li>
                    </ul>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">程序端口</span>
                        <input asp-for="@Model.JexusWeb.Port" type="text" class="form-control" placeholder="应用程序端口" />
                    </div>
                    <ul>
                        <li>
                            <small>此处填写你的 Kestrel 端口</small>
                        </li>
                        <li>
                            <small>Jexus将监听此端口</small>
                        </li>
                        <li>
                            <small>若填写错误，外部将无法访问你的网站</small>
                        </li>
                    </ul>
                    <hr />
                </div>
                <div class="card-footer">以上配置能够让你的网站正常使用</div>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-header">
                <i class="icon-exclamation-sign icon-large mr-2"></i>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">高级配置<i class="icon-sort-down icon-large ml-1"></i></button>
            </div>
            <div id="demo2" class="collapse">
                <div class="card-body">
                    <div class="input-group mb-2">
                        <span class="mr-2">反向代理</span>
                        <input asp-for="@Model.JexusModel.reproxy" type="text" class="form-control" placeholder="使用,分隔" />
                    </div>
                    <ul>
                        <li>
                            <small>
                                格式 /目录/ Url1,Url2
                            </small>
                        </li>
                        <li>
                            <small>
                                例 /Select/ http://a.com/Select1,http://b.com/Select2
                            </small>
                        </li>
                        <li>
                            <small>
                                反向代理有利于负载均衡，需要同时在几台服务器部署，<a href="https://www.cnblogs.com/msdynax/p/3735344.html">点击了解</a>
                            </small>
                        </li>
                    </ul>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">Url 重写</span>
                        <input asp-for="@Model.JexusModel.rewrite" type="text" class="form-control" placeholder="外部规则 内部规则，中间使用空格分开" />
                    </div>
                    <ul>
                        <li>
                            <small>
                                格式 用户访问的URL 实际的URL
                            </small>
                        </li>
                        <li>
                            <small>
                                格式 <code>^/.+?\.(html|htm) /test.aspx</code> ,当用户访问.html或htm的URL时，实际访问test.aspx
                            </small>
                        </li>
                        <li>
                            <small>
                                可通过此设置开启伪静态
                            </small>
                        </li>
                    </ul>

                    <div class="input-group mb-2">
                        <span class="mr-2">是否关闭日志</span>
                        <input asp-for="@Model.JexusModel.nolog" type="text" class="form-control" placeholder="true or false" value="false" />
                    </div>
                    <ul>
                        <li><small>请填写 true 或 false</small></li>
                        <li><small>默认 Jexus 记录日志</small></li>
                        <li><small>关闭日志功能可以提高性能</small></li>
                        <li><small>保留日志功能便于排错</small></li>
                    </ul>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">是否开启压缩</span>
                        <input asp-for="@Model.JexusModel.usegzip" type="text" class="form-control" placeholder="yes ore no" />
                    </div>
                    <ul>
                        <li><small>请填写 yes 或 no</small></li>
                        <li><small>开启网页压缩有利于提高网站性能</small></li>
                    </ul>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">IP白名单</span>
                        <input asp-for="@Model.JexusModel.allowfrom" type="text" class="form-control" placeholder="只允许白名单IP访问网站" />
                    </div>
                    <ul>
                        <li><small>不应该与黑名单同时设置</small></li>
                    </ul>
                    <hr />

                    <div class="input-group mb-2">
                        <span class="mr-2">IP黑名单</span>
                        <input asp-for="@Model.JexusModel.denyfrom" type="text" class="form-control" placeholder="紧张黑名单IP访问网站" />
                    </div>
                    <ul>
                        <li><small>不应与白名单同时设置</small></li>
                    </ul>
                    <hr />
                    <div class="input-group mb-2">
                        <span class="mr-2">对URL进行检查</span>
                        <input asp-for="@Model.JexusModel.checkquery" type="text" class="form-control" placeholder="true or false" />
                    </div>
                    <ul>
                        <li><small>默认为true</small></li>
                        <li><small>请填写 true 或 false</small></li>
                        <li><small>避免非法入侵</small></li>
                    </ul>
                    <hr />
                </div>
                <div class="card-footer">高级配置请细心填写</div>
            </div>

        </div>
    </div>
    <input type="submit" class="btn btn-default" value="生成" />
</form>