@model XFPanelJexus.Web.Models.SqlService.JexusSql

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JexusSql</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DownM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DownM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SHType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SHType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sitename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sitename)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
